.krypto-connect-input {
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
  outline: none;
  color: var(--color-text);
  width: 100%;
  background: transparent;
}

/* Outline */
.krypto-connect-input--outline {
  border: 1px solid var(--color-border);
}

.krypto-connect-input--outline:focus {
  box-shadow: 0 0 0 2px var(--color-bg-foreground);
}

.krypto-connect-input::placeholder {
  color: var(--color-text-secondary);
  font-weight: 400;
}
