.krypto-connect-btn {
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

/* Outline */
.krypto-connect-btn--outline {
  padding: 8px 16px;
  background-color: transparent;
  color: var(--color-text);
  border: 1px solid var(--color-border);
  background-color: var(--color-bg-foreground);
}

.krypto-connect-btn--outline:hover {
  background-color: var(--color-bg-foreground);
}

/* Ghost */
.krypto-connect-btn--ghost {
  padding: 8px 16px;

  background-color: transparent;
  color: var(--color-text-secondary);
  border: none;
  font-weight: 500;
}

.krypto-connect-btn--ghost:hover {
  background-color: var(--color-bg-foreground);
}

/* Link */
.krypto-connect-btn--link {
  background: none;
  border: none;
  color: var(--color-text);
  text-decoration: underline;
  padding: 0;
}

.krypto-connect-btn--link:hover {
  color: var(--color-text);
}

.krypto-connect-btn--max-content {
  font-size: 14px;
}

.krypto-connect-btn--full {
  width: 100%;
}
